<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MBSys</display-name>
  <servlet>
  <display-name>MBSystem</display-name>
  <servlet-name>MBSystem</servlet-name>
  <servlet-class>com.mbs.controller.MBSystem</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>MBSystem</servlet-name>
  <url-pattern>/mbsys</url-pattern>  
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>MBSystem</servlet-name>
  <url-pattern>/view/mbsys</url-pattern>
  
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>MBSystem</servlet-name>
  <url-pattern>/search</url-pattern>
  
  </servlet-mapping>
   
  
  <servlet-mapping>
  <servlet-name>MBSystem</servlet-name>
  <url-pattern>/search</url-pattern>
  
  </servlet-mapping>
  
  
    <servlet-mapping>
  <servlet-name>MBSystem</servlet-name>
  <url-pattern>/updateUser</url-pattern>
  
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>MBSystem</servlet-name>
  <url-pattern>/updateIndent</url-pattern>
  
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>/view/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>